{:min-bb-version "1.12.210"
 :paths ["bb"]
 :tasks
 {:init (defn banner
         [message]
         (let [stars (clojure.string/join (repeat 70 "*"))
               padding-len (- 70 (count message) 5)
               spaces (clojure.string/join (repeat padding-len " "))]
          (println stars)
          (println "*" message spaces "*")
          (println stars)))
  test-jvm {:doc "Runs JVM tests"
            :task (do
                   (banner "Running JVM Tests")
                   (shell "lein test"))}
  test-bb {:doc "Runs bb tests"
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :extra-paths ["test"]
           :task (do
                  (banner "Running Babashka Tests")
                  (exec 'cognitect.test-runner.api/test))
           :exec-args {:patterns [".*"]}}
  test-cljs {:doc "Runs CLJS tests"
             :task (do
                    (banner "Running CLJS Tests")
                    (shell "npx shadow-cljs compile test"))}
  test-lpy {:doc  "Run Basilisp tests"
            :task (do
                   (banner "Running Basilisp Tests")
                   (shell
                    {:extra-env {"BASILISP_TEST_PATH"         "./test"
                                 "BASILISP_TEST_FILE_PATTERN" ".*\\.(lpy|cljc)"}}
                    "basilisp test -p test -- -n auto"))}
  test-all {:doc "Run tests under all dialects"
            :task (do
                   (run 'test-jvm)
                   (run 'test-cljs)
                   (run 'test-bb)
                   (run 'test-lpy))}
  new-test {:doc "Creates new test for the Clojure symbols named by <args>. Unqualified symbols assume clojure.core"
            :requires ([new-test])
            :task (new-test/new-test *command-line-args*)}}}
